In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [65]:
df = pd.read_csv(
    "data/MAC000013.csv", 
    parse_dates=['DateTime'], 
    date_format='%Y-%m-%d %H:%M:%S.%f0'
)
df.rename(columns={'KWH/hh (per half hour) ': 'KWH'}, inplace=True)
df.fillna(
    {'KWH': 0.0}
)

           LCLid stdorToU            DateTime      KWH
0      MAC000013      Std 2012-06-21 07:30:00   0.095
1      MAC000013      Std 2012-06-21 08:00:00   0.146
2      MAC000013      Std 2012-06-21 08:30:00    0.06
3      MAC000013      Std 2012-06-21 09:00:00   0.093
4      MAC000013      Std 2012-06-21 09:30:00   0.118
...          ...      ...                 ...      ...
29609  MAC000013      Std 2014-02-27 22:30:00   0.126
29610  MAC000013      Std 2014-02-27 23:00:00   0.147
29611  MAC000013      Std 2014-02-27 23:30:00   0.087
29612  MAC000013      Std 2014-02-28 00:00:00   0.083
29613  MAC000013      Std 2014-02-28 00:00:00   0.083

[29614 rows x 4 columns]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29614 entries, 0 to 29613
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LCLid     29614 non-null  object
 1   stdorToU  29614 non-null  object
 2   DateTime  29614 non-null  datetime64[ns]
 3   KWH       29614 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 925.6+ KB

In [67]:
 df.KWH

0         0.095
1         0.146
2          0.06
3         0.093
4         0.118
          ...
29609     0.126
29610     0.147
29611     0.087
29612     0.083
29613     0.083
Name: KWH, Length: 29614, dtype: object

In [68]:
df.KWH[0]

' 0.095 '