In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [14]:
df = pd.read_csv("data/MAC000002.csv")
df.head()

       LCLid stdorToU                     DateTime  KWH/hh (per half hour)
0  MAC000002      Std  2012-10-12 00:30:00.0000000                      0.0
1  MAC000002      Std  2012-10-12 01:00:00.0000000                      0.0
2  MAC000002      Std  2012-10-12 01:30:00.0000000                      0.0
3  MAC000002      Std  2012-10-12 02:00:00.0000000                      0.0
4  MAC000002      Std  2012-10-12 02:30:00.0000000                      0.0

In [16]:
d = df['DateTime'][0:3]

In [17]:
d

0    2012-10-12 00:30:00.0000000
1    2012-10-12 01:00:00.0000000
2    2012-10-12 01:30:00.0000000
Name: DateTime, dtype: object

In [61]:
type(d[0])

str

In [63]:
df_w_dt = dfpd.to_datetime(df["DateTime"], format='%Y-%m-%d %H:%M:%S.%f0')

In [64]:
df_w_dt

0      2012-10-12 00:30:00
1      2012-10-12 01:00:00
2      2012-10-12 01:30:00
3      2012-10-12 02:00:00
4      2012-10-12 02:30:00
               ...
3235   2012-12-19 10:30:00
3236   2012-12-19 11:00:00
3237   2012-12-19 11:30:00
3238   2012-12-19 12:00:00
3239   2012-12-19 12:30:00
Name: DateTime, Length: 3240, dtype: datetime64[ns]

In [66]:
type(df)

pandas.core.frame.DataFrame

In [67]:
type(df_w_dt)

pandas.core.series.Series